@import "./../../App";
.form{
  display: flex;
  width: 200px;
 
  flex-direction: column;
  &__inlet{
      font-weight: 700;
      font-size: 25px;
      color: #fff;
  }
  &__button{
    font-weight: 400;
    font-size: 16px;
    color: $orange;
    background: $blue;
    border: none;
  }
}
