@import "./../../App";
.column{
  padding-top: 206px;
  display: flex;
  flex-direction: column;
  width: 579px;
  height: auto;
  background-color: $blue;
  &__burger{
    display: none;
    position: fixed;
    top: 420px;
    left: 0px;
    background-color: $blue;
  }
}




@media (max-width: 635px) {
  .column{
    position: fixed;
    height: 100%;
    left: -529px;
    &__burger{
      display: block;
    }
  }
  .column1{
    position: fixed;
    height: 100%;
    padding-top: 206px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $blue;
    .svg{
      transform: scaleX(-1);
    }

  }
  
 


}