@import "./../../App";
.column{
  padding-top: 206px;
  display: flex;
  flex-direction: column;
  width: 579px;
  height: auto;
  background-color: $blue;
}
@media (max-width: 605px) {
  .column{
    position: fixed;
  left: -579px;
  }
}