@import "./../../App";

.welcome{
    padding-top: 300px;
    &__text{
        font-family: Roboto;
        font-size: 48px;
        font-weight: 700;
        line-height: 56.25px;
        padding-bottom: 60px;
        &__span{
            color: $orange;
        }
    }
    &__subText{
        display: flex;
        font-size: 25px;
        font-weight: 700;
        line-height: 29.3px;
        align-items: center;

    }
}