@import "./../../App";
.column{
  width: 275px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 225px;
  padding: 0 25px 0 30px;
  border-bottom: 2px solid black;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  &__checkbox {
    width: 19px;
    height: 19px;
    border-radius: 100%;
  }
  &__checkbox:active {

  }


}