@import "../../../App";
.text{
    padding-top: 40px;
    padding-left: 188px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 56.25px;        
    &__span{
        color: $orange;
        font-family: Roboto;
        font-size: 48px;
        font-weight: 700;
        line-height: 56.25px;   
    }
}

.input{
    padding-top: 133px;
    padding-bottom: 62px;
    padding-left: 272px;
    width: 236px;


    &__task{
        font-family: Roboto;
        width: 236px;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        height: 40px;
        border: none;
        border-bottom: 1px solid $orange;
        outline: 0;
        &:focus{
            transform: scale(1.1);
        }

        &::placeholder{
            padding-left: 18px;
        }
    }
    &__buttons{
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
    }
   
    }
@media (max-width: 860px) {
    .text {
        padding-left: 10px;
    }
    .input {
        padding-left: 60px;

    }
}
    
