@import "./../../App";
.input{
  padding: 11px;
  background: none;
  border: 1px solid $orange;
  border-radius: 11px;
  width: 200px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
 color: white;
 margin-bottom: 10px;
  &::placeholder{
    color: $gray;
  }
}