@import "../../../App";
.column{
  width: 275px;
  min-height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
  padding: 0 20px 0 20px;
  border-bottom: 2px solid black;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  &__text{
    max-width: 200px ;
    padding: 10px;
    word-break: normal;
    word-wrap: break-word;
  }

  &__checkbox{
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background-color: #00C1EB;
    border: 2px solid #00C1EB;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  

  &__svg{
    cursor: pointer;
    width: 17px;
    &:hover{
      transform: scale(1.2);
    }
  }

}
@media (max-width: 605px) {
  .column{
    width: 260px;
    margin-left: 10px;
    padding: 0;
  }

}