@import "../../../App";
.column{
  width: 275px;
  min-height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 225px;
  padding: 0 25px 0 25px;
  border-bottom: 2px solid black;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  &__text{
    max-width: 200px ;
    padding: 10px;
    word-break: normal;
  }
  &__textDone{
    text-decoration: line-through
  }

  &__checkbox{
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background-color: #00C1EB;
    border: 2px solid #00C1EB;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover{
      background-color: #05EB00;
      border: 2px solid #05EB00;
      transform: scale(1.1);
    }
  }
  &__checkboxDone{
    background-color: #05EB00;
    border: 2px solid #05EB00;
  }

  &__svg{
    cursor: pointer;
    width: 17px;
    &:hover{
      transform: scale(1.2);
    }
  }

}
@media (max-width: 860px) {
  .column{
    margin-left: 10px;
  }

}